<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.usermanagerservice.mapper.UserPhoneIndexMapper">

    <resultMap id="BaseResultMap" type="com.code.usermanagerservice.model.entity.UserPhoneIndex">
            <id property="phone" column="phone" />
            <result property="userId" column="user_id" />
    </resultMap>

    <sql id="Base_Column_List">
        phone,user_id
    </sql>
</mapper>
